@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm">
        <div class="card">
            <img class="card-img-top" src="https://images.hellogiggles.com/uploads/2018/04/14112208/scrabble-dictionary-new-words-e1523730173132.jpg">
            <div class="card-body">
                <h5 class="card-title">RESULTS</h5>
                @{ 
                    var word = Model.GetInputtedWord();
                    var phrase = Model.GetInputtedPhrase();
                    var count = Model.CountOccurences(word, Model.SplitPhrase(phrase));

                    <p>Your Word: @word</p>
                    <p>Your Phrase: @phrase</p>
                    <p>Your word was found @count times.</p>
                    <hr />

                    <h4>Your Search History</h4>
                    for(int i = 0; i < Model.words.Length; i++)
                    {
                        <p>Word: @Model.words[i]</p>
                        <p>Search Phrase: @Model.phrases[i]</p>
                        <p>Count: @Model.counts[i]</p>
                        <hr />
                    }
                }
                <a class="btn btn-primary" href="/" role="button">Play Again</a>
            </div>
        </div>
    </div>
</div>